# **EDA & KPIs**

In [112]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

### Bouncing off of Kabbo's EDA, I will use his cleaned datasets:

In [6]:
# Kiosk Location
path1 = '/Users/Marcy_Student/Desktop/Marcy-Modules/Mod5/Final-Project/M5-The-Green-Link/data/kiosk-location-clean.csv'

#Kiosk Weekly Usage
path2 = '/Users/Marcy_Student/Desktop/Marcy-Modules/Mod5/Final-Project/M5-The-Green-Link/data/kiosk-usage-clean.csv'

In [102]:
# df locations
df_loc = pd.read_csv(path1)

# df usage
df_use = pd.read_csv(path2)

In [22]:
df_loc

,Unnamed: 0,site_id,planned_kiosk_type,installation_status,ppt_id,legacy_id,borough,council_district,community_board,street_address,...,zoning,latitude,longitude,installation_complete,activation_complete,neighborhood_tabulation_area_nta,building_identification_number_bin,boroughblocklot_bbl,census_tract_ct,location
0,0,qu-01-125088,Link1.0,Live,125088,qu-01-125088,Queens,22,401,34-02 BROADWAY,...,C4-2A,40.760713,-73.922879,2017-04-22,2017-06-08,Astoria,4008830.0,4.006220e+09,4005900.0,"(40.760713, -73.922879)"
1,1,bk-01-160081,Link5G_Ad,Live,NaN,NaN,Brooklyn,34,301,161 VARICK AVENUE,...,M3-1,40.711080,-73.928620,2024-10-09,2025-03-14,NaN,NaN,3.029620e+09,44900.0,"(40.71108, -73.92862)"
2,2,qu-13-160016,Link5G_Ad,Live,NaN,NaN,Queens,23,413,264-21 UNION TURNPIKE,...,R2A / C1-2,40.749170,-73.708140,2024-02-29,2025-04-02,Glen Oaks-Floral Park-New Hyde Park,4174076.0,4.085400e+09,NaN,"(40.74917, -73.70814)"
3,3,mn-04-122598,Link1.0,Live,122598,mn-04-122598,Manhattan,3,104,815 8 AVENUE,...,C6-4,40.761816,-73.986606,2016-03-18,2016-04-27,Clinton,1076203.0,1.010400e+09,1012700.0,"(40.761816, -73.986606)"
4,4,mn-05-137210,Link1.0,Live,137210,mn-05-137210,Manhattan,4,105,410 MADISON AVENUE,...,C5-3,40.756742,-73.976530,2017-04-30,2017-05-26,Midtown-Midtown South,1035437.0,1.012840e+09,1009400.0,"(40.756742, -73.97653)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,2245,bk-03-145748,Link1.0,Live,145748,LINK-018100,Brooklyn,35,303,549 CLASSON AVENUE,...,C2-4,40.681853,-73.958535,2017-02-27,2017-04-20,Clinton Hill,3057307.0,3.019940e+09,3022700.0,"(40.681853, -73.958535)"
2246,2246,mn-06-133436,Link1.0,Live,133436,mn-06-133436,Manhattan,4,106,939 3 AVENUE,...,C5-2,40.760005,-73.967568,2016-02-27,2016-07-19,Turtle Bay-East Midtown,1038590.0,1.013300e+09,1010800.0,"(40.760005, -73.967568)"
2247,2247,mn-09-118158,Link1.0,Live,118158,mn-09-118158,Manhattan,7,109,1290 AMSTERDAM AVENUE,...,C1-4,40.811845,-73.957517,2018-05-01,2020-10-20,Morningside Heights,1084108.0,1.019780e+09,1021100.0,"(40.811845, -73.957517)"
2248,2248,qu-04-145913,Link1.0,Live,145913,LINK-019899,Queens,25,404,83-23 BROADWAY,...,C1-3,40.740737,-73.879360,2017-08-19,2017-09-07,Elmhurst,4314501.0,4.015800e+09,4047100.0,"(40.740737, -73.87936)"
2249,2249,mn-06-121692,Link1.0,Live,121692,mn-06-121692,Manhattan,5,106,1026 1 AVENUE,...,C1-5,40.757701,-73.963213,2017-10-25,2018-03-06,Turtle Bay-East Midtown,1040466.0,1.013680e+09,1010601.0,"(40.757701, -73.963213)"

In [103]:
df_use

,week_end_date,sessions,avg_session_length,unique_clients,tb_downloaded,tb_uploaded,cumulative_bandwidth_tb,cumulative_sessions,cumulative_subscribers,gb_per_session
0,2020-01-05,23086410,00:04:07,683250,121.01,12.67,14353.83,2251215052,8461839,0.005929
1,2020-01-12,23584159,00:04:07,640118,116.52,11.14,14501.59,2284581863,8502485,0.005543
2,2020-01-19,22004022,00:04:07,592715,114.50,10.52,14626.62,2306585885,8536567,0.005818
3,2020-01-26,20245042,00:04:15,602685,118.05,10.13,14754.79,2326830927,8571523,0.006483
4,2020-02-02,22356460,00:04:11,617337,120.69,10.94,14886.42,2349187387,8615640,0.006029
...,...,...,...,...,...,...,...,...,...,...
295,2025-08-31,3514042,00:32:47,220347,125.73,19.75,51492.35,3789308905,19248889,0.042393
296,2025-09-07,3441776,00:33:59,218942,124.08,19.76,51636.19,3792750681,19306948,0.042795
297,2025-09-14,3559167,00:32:48,218422,127.53,19.76,51783.47,3796309848,19366536,0.042376
298,2025-09-21,3535639,00:32:51,219953,130.08,19.62,51933.18,3799845487,19423364,0.043356
299,2025-09-28,3432378,00:32:42,217730,128.86,19.09,52081.13,3803277865,19479585,0.044139

### Need to convert datetime columns again...

In [104]:
# df usage

# week_end_date to datetime
df_use['week_end_date'] = pd.to_datetime(df_use['week_end_date'])

In [105]:
df_use.dtypes

week_end_date              datetime64[ns]
sessions                            int64
avg_session_length                 object
unique_clients                      int64
tb_downloaded                     float64
tb_uploaded                       float64
cumulative_bandwidth_tb           float64
cumulative_sessions                 int64
cumulative_subscribers              int64
gb_per_session                    float64
dtype: object

In [106]:
# converting istallation and activation to datetimes
df_loc['installation_complete'] = pd.to_datetime(df_loc['installation_complete'])
df_loc['activation_complete'] = pd.to_datetime(df_loc['activation_complete'])

In [107]:
df_loc.dtypes

Unnamed: 0                                     int64
site_id                                       object
planned_kiosk_type                            object
installation_status                           object
ppt_id                                        object
legacy_id                                     object
borough                                       object
council_district                               int64
community_board                                int64
street_address                                object
cross_street_1                                object
cross_street_2                                object
ixn_corner                                    object
postcode                                       int64
zoning                                        object
latitude                                     float64
longitude                                    float64
installation_complete                 datetime64[ns]
activation_complete                   datetime64[ns]
neighborhood_tabulation_area_nta              object
building_identification_number_bin           float64
boroughblocklot_bbl                          float64
census_tract_ct                              float64
location                                      object
dtype: object

***

## Now, let's explore some possible KPIs, as well as feature engineering...

### KPIs/Feature Engineering to Explore: 

- Activation Time

- Kiosk Age

- Weekly Session Change

- Avg Time per Kiosk

- Usage Efficiency

## Activation Time

This is a metric that can be used by the deployment team, as well as the higher ups. It gives a view of kiosks that took a long time to activate after installation, which can point to issues with infrastructure, permitting, technical issues, etc. Using this feature, the team can flag problematic kiosks and get further insight as to factors that contribute to long kiosk activation times.


#### let's find out how long it took kiosks to activate after installation:

In [129]:
df_loc['activation_time'] = (df_loc['activation_complete'] - df_loc['installation_complete'])
long_activation = df_loc[df_loc['activation_time'] >= timedelta(days=60)].sort_values(by='activation_time',ascending=False)
long_activation[['site_id', 'neighborhood_tabulation_area_nta', 'installation_status', 'activation_time']].head(10)

# here is a view of kiosks that took longer than ~2 months to activate after installation. Without further insight as to what is considered "long activation time",
# I simply created a new column that is filterable to find possibly problematic kiosks.

,site_id,neighborhood_tabulation_area_nta,installation_status,activation_time
1149,mn-08-135119,Lenox Hill-Roosevelt Island,Live,1103 days
764,mn-08-121697,Lenox Hill-Roosevelt Island,Live,1096 days
1765,mn-12-120755,Washington Heights South,Live,1091 days
1289,bk-02-126904,Brooklyn Heights-Cobble Hill,Live,1088 days
158,mn-12-134789,Washington Heights South,Live,1043 days
366,mn-08-121031,Upper East Side-Carnegie Hill,Live,1011 days
1210,mn-07-133637,Upper West Side,Live,1004 days
2071,mn-07-137051,Upper West Side,Live,1002 days
1813,mn-07-121256,Upper West Side,Live,999 days
25,mn-07-121257,Upper West Side,Live,999 days

***

## Kiosk Age

This metric can be useful for finding the oldest running kiosks, which can be used by the maintenance team to prioritize which kiosks need attention the most. Going forward, a new column can also be created that would mark the latest maintenence date.

#### Let's explore the oldest live kiosks:

In [ ]:
df_loc['kiosk_age'] = datetime.now() - df_loc['activation_complete']
oldest_kiosks = df_loc[df_loc['kiosk_age']>= timedelta(weeks=520)].sort_values(by='kiosk_age', ascending=False)
oldest_kiosks[['site_id', 'neighborhood_tabulation_area_nta', 'installation_status', 'kiosk_age']]

# Another simple view showing the oldest activated kiosks. The 4 displayed kiosks have been activated for longer than 10 years and are still live. These should be considered for
# repairs/reviews, as old equipment becomes more prone to technical issues. This new column can also be custom-filtered.

,site_id,neighborhood_tabulation_area_nta,installation_status,kiosk_age
435,mn-07-121406,Upper West Side,Live,19675 days 15:44:04.598553
1054,mn-07-121379,Lincoln Square,Live,19675 days 15:44:04.598553
1524,mn-07-120509,Upper West Side,Live,19675 days 15:44:04.598553
1994,mn-07-120507,Upper West Side,Live,12191 days 15:44:04.598553

***

## Weekly Session Change

This metric will be useful for doing a weekly track of session changes, and can be supported by other data sources to find factors contributing to session changes.

#### Let's find the difference in percentages of sessions per week:

In [139]:
# data is already per ending week:
df_use['weekly_session_change_pct'] = round(((df_use['sessions'].diff())/df_use['sessions'].shift(1))*100,2)
df_use[['week_end_date', 'sessions', 'weekly_session_change_pct']]

    week_end_date  sessions  weekly_session_change_pct
0      2020-01-05  23086410                        NaN
1      2020-01-12  23584159                       2.16
2      2020-01-19  22004022                      -6.70
3      2020-01-26  20245042                      -7.99
4      2020-02-02  22356460                      10.43
..            ...       ...                        ...
295    2025-08-31   3514042                       3.03
296    2025-09-07   3441776                      -2.06
297    2025-09-14   3559167                       3.41
298    2025-09-21   3535639                      -0.66
299    2025-09-28   3432378                      -2.92

[300 rows x 3 columns]

***

## Average Time per Week

This can help support our weekly session change column, by showing the actually length of average session usage per week. I also included an overall calculation, to show how much LinkNYC's usage has increased since its inception.

#### Our data is already aggregated by end of week, so let's calculate the avg session length:

In [157]:
# let's create new column: avg_session_length_seconds as integer to be able to use for calculations
# this will be used when aggregating per kiosk for energy consumption (alongside a proxy of upload/download amounts)
df_use['avg_session_length_seconds'] = pd.to_datetime(df_use['avg_session_length'])
df_use['avg_session_length_seconds'] = ((df_use['avg_session_length_seconds'].dt.hour)*2400) + ((df_use['avg_session_length_seconds'].dt.minute)*60) + df_use['avg_session_length_seconds'].dt.second
df_use['avg_session_length_minutes'] = round(df_use['avg_session_length_seconds']/60,2)

# since our data is already aggregated by ending week, we simply display the two columns:
session_usage_minutes = df_use[['week_end_date', 'avg_session_length_minutes']]
session_usage_minutes

/var/folders/gs/yv3dj4zx2tgdd5tw701ypspm0000gp/T/ipykernel_84331/845785869.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_use['avg_session_length_seconds'] = pd.to_datetime(df_use['avg_session_length'])

    week_end_date  avg_session_length_minutes
0      2020-01-05                        4.12
1      2020-01-12                        4.12
2      2020-01-19                        4.12
3      2020-01-26                        4.25
4      2020-02-02                        4.18
..            ...                         ...
295    2025-08-31                       32.78
296    2025-09-07                       33.98
297    2025-09-14                       32.80
298    2025-09-21                       32.85
299    2025-09-28                       32.70

[300 rows x 2 columns]

In [165]:
print(f"Session Length Change Overall: {round(((session_usage_minutes['avg_session_length_minutes'][299]-session_usage_minutes['avg_session_length_minutes'][0])/session_usage_minutes['avg_session_length_minutes'][0])*100,2)}%")

Session Length Change Overall: 693.69%