## Funnel Analysis

In [1]:
import pandas as pd
import numpy as np

In [3]:
path1 = '/Users/Marcy_Student/Desktop/Marcy-Modules/Mod5/Final-Project/M5-The-Green-Link/data/ro-cleaned-location.csv'      # Kiosk Location
path2 = '/Users/Marcy_Student/Desktop/Marcy-Modules/Mod5/Final-Project/M5-The-Green-Link/data/ro-cleaned-usage.csv'         # Kiosk Usage

df_loc = pd.read_csv(path1)
df_use = pd.read_csv(path2)

In [4]:
df_use

,Unnamed: 0,week_end_date,sessions,avg_session_length,unique_clients,tb_downloaded,tb_uploaded,cumulative_bandwidth_tb,cumulative_sessions,cumulative_subscribers,gb_per_session,weekly_session_change_pct,avg_session_length_seconds,avg_session_length_minutes,energy_efficiency,energy_usage_flag
0,0,2020-01-05,23086410,00:04:07,683250,121.01,12.67,14353.83,2251215052,8461839,0.005929,NaN,247,4.12,0.006940,Poor
1,1,2020-01-12,23584159,00:04:07,640118,116.52,11.14,14501.59,2284581863,8502485,0.005543,2.16,247,4.12,0.006490,Poor
2,2,2020-01-19,22004022,00:04:07,592715,114.50,10.52,14626.62,2306585885,8536567,0.005818,-6.70,247,4.12,0.006812,Poor
3,3,2020-01-26,20245042,00:04:15,602685,118.05,10.13,14754.79,2326830927,8571523,0.006483,-7.99,255,4.25,0.007588,Poor
4,4,2020-02-02,22356460,00:04:11,617337,120.69,10.94,14886.42,2349187387,8615640,0.006029,10.43,251,4.18,0.007059,Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,295,2025-08-31,3514042,00:32:47,220347,125.73,19.75,51492.35,3789308905,19248889,0.042393,3.03,1967,32.78,0.049329,Excellent
296,296,2025-09-07,3441776,00:33:59,218942,124.08,19.76,51636.19,3792750681,19306948,0.042795,-2.06,2039,33.98,0.049789,Excellent
297,297,2025-09-14,3559167,00:32:48,218422,127.53,19.76,51783.47,3796309848,19366536,0.042376,3.41,1968,32.80,0.049321,Excellent
298,298,2025-09-21,3535639,00:32:51,219953,130.08,19.62,51933.18,3799845487,19423364,0.043356,-0.66,1971,32.85,0.050454,Excellent
299,299,2025-09-28,3432378,00:32:42,217730,128.86,19.09,52081.13,3803277865,19479585,0.044139,-2.92,1962,32.70,0.051353,Excellent

In [26]:
df_loc

,Unnamed: 0.1,Unnamed: 0,site_id,planned_kiosk_type,installation_status,ppt_id,legacy_id,borough,council_district,community_board,...,longitude,installation_complete,activation_complete,neighborhood_tabulation_area_nta,building_identification_number_bin,boroughblocklot_bbl,census_tract_ct,location,activation_time,kiosk_age
0,0,0,qu-01-125088,Link1.0,Live,125088,qu-01-125088,Queens,22,401,...,-73.922879,2017-04-22,2017-06-08,Astoria,4008830.0,4.006220e+09,4005900.0,"(40.760713, -73.922879)",47 days,3049 days 16:29:53.859173
1,1,1,bk-01-160081,Link5G_Ad,Live,NaN,NaN,Brooklyn,34,301,...,-73.928620,2024-10-09,2025-03-14,NaN,NaN,3.029620e+09,44900.0,"(40.71108, -73.92862)",156 days,213 days 16:29:53.859173
2,2,2,qu-13-160016,Link5G_Ad,Live,NaN,NaN,Queens,23,413,...,-73.708140,2024-02-29,2025-04-02,Glen Oaks-Floral Park-New Hyde Park,4174076.0,4.085400e+09,NaN,"(40.74917, -73.70814)",398 days,194 days 16:29:53.859173
3,3,3,mn-04-122598,Link1.0,Live,122598,mn-04-122598,Manhattan,3,104,...,-73.986606,2016-03-18,2016-04-27,Clinton,1076203.0,1.010400e+09,1012700.0,"(40.761816, -73.986606)",40 days,3456 days 16:29:53.859173
4,4,4,mn-05-137210,Link1.0,Live,137210,mn-05-137210,Manhattan,4,105,...,-73.976530,2017-04-30,2017-05-26,Midtown-Midtown South,1035437.0,1.012840e+09,1009400.0,"(40.756742, -73.97653)",26 days,3062 days 16:29:53.859173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,2245,2245,bk-03-145748,Link1.0,Live,145748,LINK-018100,Brooklyn,35,303,...,-73.958535,2017-02-27,2017-04-20,Clinton Hill,3057307.0,3.019940e+09,3022700.0,"(40.681853, -73.958535)",52 days,3098 days 16:29:53.859173
2246,2246,2246,mn-06-133436,Link1.0,Live,133436,mn-06-133436,Manhattan,4,106,...,-73.967568,2016-02-27,2016-07-19,Turtle Bay-East Midtown,1038590.0,1.013300e+09,1010800.0,"(40.760005, -73.967568)",143 days,3373 days 16:29:53.859173
2247,2247,2247,mn-09-118158,Link1.0,Live,118158,mn-09-118158,Manhattan,7,109,...,-73.957517,2018-05-01,2020-10-20,Morningside Heights,1084108.0,1.019780e+09,1021100.0,"(40.811845, -73.957517)",903 days,1819 days 16:29:53.859173
2248,2248,2248,qu-04-145913,Link1.0,Live,145913,LINK-019899,Queens,25,404,...,-73.879360,2017-08-19,2017-09-07,Elmhurst,4314501.0,4.015800e+09,4047100.0,"(40.740737, -73.87936)",19 days,2958 days 16:29:53.859173
2249,2249,2249,mn-06-121692,Link1.0,Live,121692,mn-06-121692,Manhattan,5,106,...,-73.963213,2017-10-25,2018-03-06,Turtle Bay-East Midtown,1040466.0,1.013680e+09,1010601.0,"(40.757701, -73.963213)",132 days,2778 days 16:29:53.859173

In [ ]:
# Checking averages per flag
df_use.groupby('energy_usage_flag')['avg_session_length_minutes'].mean()

energy_usage_flag
Excellent    29.416000
Fair         25.492222
Good         26.743889
Poor          5.192556
Name: avg_session_length_minutes, dtype: float64

In [28]:
# creating steps
funnel = df_use[['avg_session_length_minutes', 'week_end_date', 'energy_usage_flag']]

funnel['base_week'] = 1
funnel['is_poor'] = funnel['energy_usage_flag'] == 'Poor'
funnel['is_below_time'] = funnel['avg_session_length_minutes'] < 5.5
steps = ['base_week', 'is_poor', 'is_below_time']

/var/folders/gs/yv3dj4zx2tgdd5tw701ypspm0000gp/T/ipykernel_46108/2187857219.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  funnel['base_week'] = 1
/var/folders/gs/yv3dj4zx2tgdd5tw701ypspm0000gp/T/ipykernel_46108/2187857219.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  funnel['is_poor'] = funnel['energy_usage_flag'] == 'Poor'
/var/folders/gs/yv3dj4zx2tgdd5tw701ypspm0000gp/T/ipykernel_46108/2187857219.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  funnel['is_below_time'] = funnel['avg_session_length_minutes'] < 5.5

In [54]:
overall = funnel[steps].sum().to_frame('count')
overall['step'] = overall.index.map({'base_week':'Total Weeks', 'is_poor':'Poor Energy Efficiency', 'is_below_time':'Session Time < 5.5 mins'})
overall = overall[['step', 'count']]

#Step-to-step conversion

overall['step_conv'] = ((overall['count'] / overall['count'].shift(1))*100).round(2)

# overall conversion
week_filter = overall['step']=='Total Weeks'
overall['overall_conv'] = overall['count'] / overall.loc[week_filter].iloc[0][1]
overall['overall_conv'] = (overall['overall_conv']*100).round(2)
overall

/var/folders/gs/yv3dj4zx2tgdd5tw701ypspm0000gp/T/ipykernel_46108/1767964165.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  overall['overall_conv'] = overall['count'] / overall.loc[week_filter].iloc[0][1]

                                  step  count  step_conv  overall_conv
base_week                  Total Weeks    300        NaN         100.0
is_poor         Poor Energy Efficiency     90       30.0          30.0
is_below_time  Session Time < 5.5 mins     45       50.0          15.0